<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
         <!--class 级别的指定 -->
        <mapper class="xyz.zzqstudy.dao.UserMapper"/>
        <mapper class="xyz.zzqstudy.dao.IndexMapper"/>
    </mappers>
</configuration>
